/* navbar */

.nav-mainbar {
  display: flex;
  flex-direction: row;
  padding-left: 4%;
  margin-left: 0;
  margin-right: 0;
}
.nav-brand {
  font-weight: bold;
  margin-right: 10%;
}
@media (max-width: 768px) {
  .nav-mainbar {
    padding-left: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-mainbar .nav-link {
    font-size: small;
  }
  .nav-brand {
    font-size: small;
  } 

}
.nav-language {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
}
.nav-home {
  margin-right: 10%;
}

/* sidebar */
.sidebar-links {
  display: flex;
  padding: 1% 16%;
  flex-direction: column;
}
.hamburger-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
}

/* Large screens: Row layout */
@media (min-width: 768px) {
  .sidebar-links {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  .sidebar-links .nav-link {
      margin: 0 10px; 
  }
}

/* Adjust the styling for the Offcanvas */
.offcanvas.sidebar-links {
  flex-direction: column;
}
.sidebar-links img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.sidebar-links .nav-link {
  color: rgb(88, 88, 88);
  margin-right: 15px;
  font-size: 16px;
}
.sidebar-links .nav-link.active {
  color: black;
  font-size: 18px;
  text-decoration: underline #F7921E;
}


/*Landing page*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  padding: 5%;
}
.main-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
}

.login-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: start;
  margin-bottom: 6%;
}
@media (max-width: 768px) {
  .login-buttons-div {
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.login-button {
  background-color: transparent;
  color: black;
  margin: 6% 4% 0 0;
  border: 1px solid  #535353;
  cursor: pointer;
  border-radius: 12px;
  width: 100px
}
.login-button.active {
  background-color: #1A80E5;
  color: white;
  border: 1px solid #535353;
}
.submit-login {
  background-color: #1A80E5;
  color: white;
  margin: 4% 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
  font-size: small;
}
.submit-login:disabled {
  background-color: #cccccc;
  color: black;
  cursor: not-allowed;
}

/*Teacher dashboard*/

.teacher-main-container {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  width: 100%;
  padding: 3% 5% 5% 15%;
}
@media (max-width: 768px) {
  .teacher-main-container {
    flex-direction: column;
    padding: 5% 10%;
  }
}

.item-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 2%;
}

.second-heading {
  font-size: large;
  font-weight: bold;
  padding-top: 4%;
}

.resources-button {
  background-color: #F7921E;
  color: white;
  margin: 2% 0;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  max-width: 300px;
  width: 100%;
  height: 33px;
  font-size: small;
  font-weight: bold;
}
.resources-button:hover {
  background-color: #dc7600;
}
.resources-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  width: 100%;
  background-color: #f0f0f0;
}
.resources-table th {
  background-color: #f0f0f0;
}
.resources-table td {
  background-color: #f0f0f0;
}
.resources-table table {
  background-color: #f0f0f0;
  margin: 3% 3%;
}
.resources-table Button {
  background-color: #F7921E;
  color: white;
  margin: 0 3% 3% 5%;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: small;
  font-weight: bold;
  width: 200px
}
.resources-table Button:hover {
  background-color: #dc7600;
}

/*Dropdown*/
.dropdown-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  padding: 2% 0;
}
@media (max-width: 768px) {
  .dropdown-row {
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.dropdown-toggle,
.dropdown-toggle:focus {
  background-color: #f0f0f0;
  color: black;
  margin: 2% 0;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  width: 300px;
  font-size: small;
  font-weight: bold;
}
.dropdown-toggle:hover,
.dropdown-toggle:active {
  background-color: #d3d3d3;
  color: black;
  box-shadow: none;
}
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
  background-color: #d3d3d3 !important;
  font-weight: bold;
  color: black;
}
.dropdown-item {
  width: 300px;
}
.dropdown-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 0;
}
.addCompany-button {
  background-color: #F7921E;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: small;
  font-weight: bold;
  width: 150px
}
.addCompany-button:hover {
  background-color: #dc7600;
}
.addCompany-button:disabled {
  background-color: #cccccc;
  color: black;
  cursor: not-allowed;
} 
.list-item {
  border: none;
  padding-bottom: 0;
  font-size: 14px;
}


/* Teacher ongoing projects*/

.projects-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}
.table-custom tbody tr {
  vertical-align: middle;
}

/*modify resources*/
.modifyRes-container {
  margin: "0px";
  padding-right: "0px";
  background-color: #f0f0f0;
  width: "100%"
}
.modify-resources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;  
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 10px;
}
.res-column {
  margin-right: 0px;
  padding-right: 0px;
}

@media (max-width: 900px) {
  .modify-resources {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10%;
  }
  .res-column {
    margin-top: 2%;
  }
}


/*STUDENT UI*/

/*Student dashboard*/
.student-main-container {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 100%;
  padding: 3% 5% 5% 10%;
}
@media (max-width: 768px) {
  .student-main-container {
    flex-direction: column;
    padding: 5% 10%;
  }
}
.student-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.student-main-container .row {
  justify-content: start;
  text-align: start;
  width: 100%;
  padding: 1% 0 0 0;
}
.student-main-row .col {
  font-size: small;
}
.heading-row {
  font-weight: bold;
  font-size: small;
  padding: 1% 0 2% 5%;
}
.data-item {
  font-size: small;
  margin: 0;
  padding: 1% 0 2% 5%;
}

.data-row:hover {
  background-color: #ececec;
}
.note-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0;
  font-size: small;
}
.grey-text {
  color: #5e5e5e;
  font-weight: bold;
}
.notes-listing {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 0;
}
.note-item {
  margin: 4% 0; ;
  padding: 0;
  font-size: small;
}
.note-img {
  width: 18px;
  height: 18px;
  margin-right: 2%;
}

.hr-style {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  margin: 2% 0;
}
.student-view-button {
  background-color: #1A80E5;
  color: white;
  margin: 4% 0 1% 0;; 
  border: none;
  cursor: pointer;
  width: 200px;
  font-size: small;
  font-weight: bold;
  border-radius: 12px;
}
.student-view-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
.margin-right {
  margin-right: 2%;
}

/*AddNewProject and form*/
.main-heading {
  text-align: center;
  padding-top: 5%
}
.instruction {
  text-align: center;
  justify-content: center;
  padding: 2%
}
.form-item {
  border-radius: 10px;
}
.form-item input {
  width: 100%;
  padding: 8px;
  margin: 0 0 4% 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.submit-button {
  background-color: #1A80E5;
  color: white;
  font-weight: bold;
  margin: 4% 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
}
.submit-button:disabled {
  background-color: #cccccc;
  color: black;
  cursor: not-allowed;
}
.modify-project-row .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 101%;
  padding: 1% 0;
  margin-bottom: 10px
}
.modify-project-button {
  background-color: #1A80E5;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  padding: 6px 6px;
}

/*Modify state radio buttons*/
.form-check .form-check-input {
  background-color: #ffffff;
  border-color: #545454;
  position: relative;
  cursor: pointer;
  width: 14px; /* Adjust size of the outer circle */
  height: 14px;
}
.form-check .form-check-input:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px; /* Adjust size of the inner circle */
  height: 7px;
  background-color: #1A80E5; 
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.form-check .form-check-input:focus {
  outline: none;
  box-shadow: none;
}
.form-check .form-check-input:focus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px; /* Adjust size of the inner circle */
  height: 7px;
  background-color: #1A80E5; /* Change this to your desired focus color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.radio-span {
  position: absolute;
  left: 70% 
}
.radio-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5px;
  color: #5e5e5e;
  
}
@media (max-width: 768px) {
  .radio-span {
    position: absolute;
    left: 35%
  }
  .radio-column {
    margin-left: 0px;
    padding-left: 0px
  }
  .main-heading {
    text-align: left;
  }

}

/* Add near the end of App.css */
.import-students-container {
  padding: 15px;
}

.table-responsive {
  overflow-y: auto;
}
